# Mansoor Nabawi #309498

This is the solution to the second exercise in Lab course Nov.2020

# Exercise 1: Exploratory Analysis on Real-World Data using Pandasand Matplotlib (6 Points)

Please download and read about the attributes recorded for the dataset fromhere:https://www.kaggle.com/c/rossmann-store-sales/data.  Specifically, you needthe ’train.csv’ and ’store.csv’ files for this exercise sheet.

Part A: (Interesting stats)

•Find the store that has the maximum sale recorded. Print the store id, date and the sales on that day

•Find the store(s) that has/ve the least possible and maximum possible competition distance(s).

•What has been the maximum timeline a store has ran a "Promo" for? Which store was that, and whatdates did the promotion covered?

•What is the difference in the mean of sales (across all stores) when offering a Promo and not?

•Are there any anomalies in the data as in where the store was "Open" but had no sales recorded? orvice versa?

•Which store type (’a’,’b’ etc.) has had the most sales?

In [5]:
#extracting the dataset zip file
import zipfile
with zipfile.ZipFile('rossman_dataset.zip', 'r') as zip_ref:
    zip_ref.extractall('')

to have a look at what files exist in this directory

In [10]:
import os
os.listdir()

['rossman_dataset.zip',
 'train.csv',
 'ML_lab02.ipynb',
 '.ipynb_checkpoints',
 'test.csv',
 'sample_submission.csv',
 'store.csv']

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
train_file = pd.read_csv('train.csv')
train_file

/home/mansoor/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [12]:
store_file = pd.read_csv('store.csv')
store_file.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

finding the store and date of the maximum sale record

In [30]:
SalesMax = train_file[train_file.Sales == train_file.Sales.max()]
SalesMax[['Store','Date','Sales']]

       Store        Date  Sales
44393    909  2015-06-22  41551

This is optional i found the store that has the most sales overall

In [28]:
max_sale_record = train_file.groupby(['Store']).sum()
max_sale_record.sort_values(['Sales'],ascending = False)[:1]

       DayOfWeek     Sales  Customers  Open  Promo  SchoolHoliday
Store
262         3766  19516842    3204694   942    360            169

Find the store(s) that has/ve the least possible and maximum possible competition distance(s)

In [36]:
MinCompDis = store_file[store_file.CompetitionDistance == store_file.CompetitionDistance.min()]
MinCompDis[["Store", 'CompetitionDistance']]

     Store  CompetitionDistance
515    516                 20.0

In [35]:
MaxCompDis = store_file[store_file.CompetitionDistance == store_file.CompetitionDistance.max()]
MaxCompDis[["Store", 'CompetitionDistance']]

     Store  CompetitionDistance
452    453              75860.0

What has been the maximum timeline a store has ran a "Promo" for? Which store was that, and whatdates did the promotion covered?

In [38]:
TmMax = store_file[store_file.Promo2 ==1 ]
TmMax

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
...,...,...,...,...,...,...,...,...,...,...
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"